@font-face {
  font-family: 'MiTipografia';
  src: url('./Resources/Fonts/ThickBoy_Regular.ttf') format('truetype');
  font-weight: normal; /* Para la variante regular */
}

@font-face {
  font-family: 'MiTipografia';
  src: url('./Resources/Fonts/ThickBoy_Bold.ttf') format('truetype');
  font-weight: bold; /* Para la variante bold */
}

body {
  margin: 0;
  font-family: 'MiTipografia', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
